.cover-wrapper {
    background: red;
}

#ctxmenu {
    background: #EEE;
    border: 1px solid black;
    display: inline-block;
    position: absolute;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.items {
    margin: 0;
    list-style-type: none;
    padding: 0;
    width: 10em;
}

.items li {
    font-size: 1.1em;
    padding: 0.5em;
    cursor: pointer;
    position: relative;
    left: 0;
    height: 1.5em;
    line-height: 1.5em;
}

.items li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

.items li:hover {
    color: #607D8B;
    background-color: #DDD;
}
