#container {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}

#ftitle {
    flex: 1 1 auto;
    padding-top: 0px;
    border-bottom: solid 1px black;
}

#fpath {
    font-size: 1.5em;
    color: rgb(150, 0, 0);
}

#workspace {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
}

#leftpanel {
    flex: 0 1 200px;
    display: flex;
}

ftree {
    flex: 1 1 auto;   
    overflow-x: visible;
    overflow-y: visible;
    border-right: solid 1px black;
}

#rightpanel {
    flex: 1 1 auto;
    display: flex;
}

fedit {
    flex: 1 1 auto;
    display: flex;
}