#container {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}

#workspace {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
}

#leftpanel {
    flex: 0 1 200px;
    display: flex;
    background: gainsboro;
}

ftree {
    flex: 1 1 auto;
}

#rightpanel {
    flex: 1 1 auto;
    display: flex;
}

fedit {
    flex: 1 1 auto;
    display: flex;
}

.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
