.ctrlbar {
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    height: 45px;
}

.ctrlbar img {
  height: 40px;
  width: 40px;
  margin-left: 16px;
}

.ctrlbar span {
  font-weight: 900;
}

#ftree {
  overflow-y: auto;
  overflow-x: auto;
}

#path {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 25px;
  padding-left: 8px;
}

#path span {
  flex: 1 0 auto;
}

#functions {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#functions mat-icon {
  font-size: 1.3em;
}

mat-list-item {
  min-height: 24px !important;
}

.fname {
  margin-left: 6px;
}

#functions {

}
